aiohttp==3.9.1
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
blis==0.7.11
bs4==0.0.1
catalogue==2.0.10
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==3.0.0
coloredlogs==15.0.1
confection==0.1.4
cryptography==41.0.7
cymem==2.0.8
Cython==3.0.6
datasets==2.15.0
dill==0.3.7
distro==1.8.0
exceptiongroup==1.2.0
faiss-cpu==1.7.4
filelock==3.13.1
flatbuffers==23.5.26
frozenlist==1.4.0
fsspec==2023.10.0
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
huggingface-hub==0.19.4
humanfriendly==10.0
idna==3.6
isodate==0.6.1
Jinja2==3.1.2
joblib==1.3.2
langcodes==3.3.0
Levenshtein==0.23.0
lightgbm==4.1.0
MarkupSafe==2.1.3
mpmath==1.3.0
msal==1.26.0
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.10
networkx==3.2.1
nltk==3.8.1
nmslib==2.1.1
numpy==1.26.2
onnxruntime==1.16.3
openai==0.28.1
packaging==23.2
pandas==2.1.3
Pillow==9.3.0
preshed==3.0.9
protobuf==4.25.1
psutil==5.9.7
pyarrow==14.0.1
pyarrow-hotfix==0.6
pybind11==2.6.1
pycparser==2.21
pydantic==2.5.2
pydantic_core==2.14.5
pyjnius==1.6.1
PyJWT==2.8.0
pyparsing==3.1.1
pyserini==0.22.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
rank-bm25==0.2.2
rapidfuzz==3.5.2
rdflib==7.0.0
regex==2023.10.3
requests==2.31.0
safetensors==0.4.1
scikit-learn==1.5.0
scipy==1.11.4
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SPARQLWrapper==2.0.0
srsly==2.4.8
sympy==1.12
thinc==8.2.2
threadpoolctl==3.2.0
tiktoken==0.5.1
tokenizers==0.15.0
torch==2.1.1+cu118
torchaudio==2.1.1+cu118
torchvision==0.16.1+cu118
tqdm==4.66.1
transformers==4.35.2
triton==2.1.0
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
walker==0.0.2
wasabi==1.1.2
weasel==0.3.4
xxhash==3.4.1
yarl==1.9.3
